<!DOCTYPE html>

<html lang="es">

	<head>
		{% include 'layout/header.html' %}
	</head>

	<body class="no-trans front-page transparent-header  ">

		<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
		
		<div class="page-wrapper">
			
			{% include 'layout/menu.html' %}

			{# breadcrumb start #}
			{# ================ #}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a class="link-dark" href="/{{ lang_code }}/index.html">{% trans %}Inicio{% endtrans %}</a></li>
						<li class="active">{% trans %}Servicios{% endtrans %}</li>
						<li class="active">Koodous</li>
					</ol>
				</div>
			</div>
			{# breadcrumb end #}		
			{# banner start #}
			{# ================ #}
			<div class="banner default-bg" style="background-image:url('/static/images/main_KD_background.jpg'); background-position: 50% 51%;">
				<div class="container">
					<div class="row">
						<div class="col-md-8 text-center col-md-offset-2 pv-20">
							<h2 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">{% trans %}Servicio{% endtrans %} <strong>Koodous</strong</h2>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">{% trans %}Millones de aplicaciones para analizar y crear alertas según sus necesidades. Totalmente libre y adaptable gracias a su API. Disponible aplicación móvil de detección y análisis de APKs instalados.{% endtrans %}</p><br>
						</div>
					</div>
				</div>
			</div>
			{# banner end #}

			{# main-container start #}
			{# ================ #}
			<section class="main-container padding-bottom-clear">
				<div class="container">
					<div class="row">
						{# main start #}
						{# ================ #}
						<div class="main col-md-12">
							<div class="row">
								<div class="col-md-4 col-sm-6">
									<div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
										<span class="icon large default-bg circle"><i class="fa fa-user-secret"></i></span>
										<h3>{% trans %}Seguridad Android{% endtrans %}</h3>
										<div class="separator clearfix"></div>
										<p class="text-muted">{% trans %}Gracias a nuestro proyecto colaborativo Koodous y a nuestro grupo de analistas en malware, podemos ofrecer un servicio completo de detección temprana y gestión de amenazas en Android.{% endtrans %}</p>
										<a href="https://koodous.com/" target="_blank">{% trans %}Más información{% endtrans %}<i class="pl-5 fa fa-angle-double-right"></i></a>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
										<span class="icon large default-bg circle"><i class="fa fa-cogs"></i></span>
										<h3>{% trans %}API personalizable{% endtrans %}</h3>
										<div class="separator clearfix"></div>
										<p class="text-muted">{% trans %}Todos nuestros servicios ofrecen una API configurable y adaptable a sus necesidades, para así poder implantarlas en sus sistemas.{% endtrans %}</p>
										<a href="https://docs.koodous.com/" target="_blank">{% trans %}Más información{% endtrans %}<i class="pl-5 fa fa-angle-double-right"></i></a>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
										<span class="icon large default-bg circle"><i class="icon-mobile"></i></span>
										<h3>{% trans %}APP móvil{% endtrans %}</h3>
										<div class="separator clearfix"></div>
										<p class="text-muted">{% trans %}Aplicación móvil de detección de APKs instalados y su nivel de seguridad.{% endtrans %}</p>
										<a href="https://play.google.com/store/apps/details?id=com.koodous.android" target="_blank">{% trans %}Más información{% endtrans %}<i class="pl-5 fa fa-angle-double-right"></i></a>
									</div>
								</div>								
							</div>

						</div>
						{# main end #}
					</div>
				</div>
			</section>		


		{% include 'layout/footer.html' %}

		{% include 'layout/libs.html' %}


	</body>
</html>
