<!DOCTYPE html>

<html lang="es">

	<head>
		{% include 'layout/header.html' %}
	</head>

	<body class="no-trans front-page transparent-header  ">

		<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
		
		<div class="page-wrapper">
			
			{% include 'layout/menu.html' %}

			{# main-container start #}
			{# ================ #}
			<section class="main-container jumbotron light-gray-bg text-center margin-clear">

				<div class="container">
					<div class="row">

						{# main start #}
						{# ================ #}
						<div class="main col-md-6 col-md-offset-3 pv-40">
							<h1 class="page-title"><span class="text-default">404</span></h1>
							<h2>{% trans %}Oops! Página no encontrada{% endtrans %}</h2>
							<p>{% trans %}Lo sentimos. El recurso que ha solicitado no existe.{% endtrans %}</p>
							<a href="/{{ lang_code }}/" class="btn btn-default btn-animated btn-lg">{% trans %}Volver al Inicio{% endtrans %}<i class="fa fa-home"></i></a>
						</div>
						{# main end #}

					</div>
				</div>
					<div class="clients-container">
						<div class="clients">
							<div class="client-image object-non-visible margin_icons" data-animation-effect="fadeIn" data-effect-delay="200">
								<i class="hs-AF_logo-single_dark services_list"> </i>
							</div>
							<div class="client-image object-non-visible margin_icons" data-animation-effect="fadeIn" data-effect-delay="300">
								<i class="hs-AU_logo-single_dark services_list"> </i>
							</div>
							<div class="client-image object-non-visible margin_icons" data-animation-effect="fadeIn" data-effect-delay="100">
								<i class="hs-HS_logo-single_dark services_list"> </i>
							</div>							
							<div class="client-image object-non-visible margin_icons" data-animation-effect="fadeIn" data-effect-delay="400">
								<i class="hs-SA_logo-single_dark services_list"> </i>
							</div>
							<div class="client-image object-non-visible margin_icons" data-animation-effect="fadeIn" data-effect-delay="400">
								<i class="hs-KD_logo-single_dark services_list"> </i>
							</div>						
						</div>
					</div>				
			</section>
			{# main-container end #}		


		{% include 'layout/footer.html' %}

		{% include 'layout/libs.html' %}


	</body>
</html>
